[Unit]
Description=Run Joplin rsync backup every hour at minute 20

[Timer]
OnCalendar=*-*-* *:20:00
Persistent=true
Unit=joplin-rsync.service

[Install]
WantedBy=timers.target